@model Fund.Models.UDebt

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Amount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DebtorId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DebtorId" class="form-control" asp-items="ViewBag.DebtorId"></select>
                <span asp-validation-for="DebtorId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LenderId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="LenderId" class="form-control" asp-items="ViewBag.LenderId"></select>
                <span asp-validation-for="LenderId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

